.verticalTimeLine {
  .vertical-timeline-element-content.bounce-in {
    padding: 3rem;
    font-size: 1.6rem;
  }
  .vertical-timeline-element-date {
    padding: 1rem;
    font-size: 1.6rem !important;
    font-weight: bold;
  }
  margin: 1rem;
  .icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
    }
  }
  .info {
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      color: var(--blue);
    }
    p {
      color: var(--secondaryFont);
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
}
