@import "../../mixins.scss";
.verticalTimeLine {
  background: var(--primaryColor);
  .vertical-timeline-element-content.bounce-in {
    padding: 3rem;
    font-size: 1.6rem;
  }
  .vertical-timeline-element-date {
    padding: 1rem;
    font-size: 1.6rem !important;
    font-weight: bold;
  }
  .vertical-timeline-element-icon.bounce-in {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .info {
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      color: var(--blue);
    }
    p {
      color: var(--red);
      font-size: 1.8rem;
      font-weight: bold;
      margin: 1rem 0;
    }
  }
  ul {
    li {
      list-style: none;
      @include mobile {
        font-size: 1.2rem;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          padding-right: 1rem;
          width: 4rem;
          height: 4rem;
          @include mobile {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}
